img {
    max-width: 100%;
}
.navbar{
    font-family: 'Abel', sans-serif;
}
h1,h2{
    font-family: 'Anton', sans-serif;
}
h1{
    font-size: 4.5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-family: 'Abel', sans-serif;
    font-size: 1.25rem;
}
.headlines h2{
    font-size: 1.8rem;
}
body{
    background-color: #f0f0f0;
}

.circle{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: 8px solid white;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    line-height: 6rem;
}

#red-dot{
    background-color: #e6563b;

}
#orange-dot{
    background-color: #eb9d3a;

}
#green-dot{
    background-color: #7cb06c;

}
#blue-dot{
    background-color: #00aba9;

}

.featured img {
    width: 100%;
    aspect-ratio: 416/283;
    object-fit:cover;
}

main img {
    border: 10px solid #e6e6e6;
}

.aside img {
    width: 5rem;
    height: 5rem;
    border: 3px solid #e6e6e6;
    border-radius: 10px;
}

