/*html {*/
/*    font-family: 'Abel', 'Anton', sans-serif;*/
/*}*/
.navbar{
    font-family: 'Abel', sans-serif;
}
h1,h2{
    font-family: 'Anton', sans-serif;
}
h1{
    font-size: 4.5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-family: 'Abel', sans-serif;
}
body{
    background-color: #e6e6e6 !important;
}

.circle{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: 8px solid white;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    line-height: 6rem;
}

#red-dot{
    background-color: #e6563b;

}
#orange-dot{
    background-color: #eb9d3a;

}
#green-dot{
    background-color: #7cb06c;

}
#blue-dot{
    background-color: #00aba9;

}

.featured img {
    width: 15rem;
}

